
.cart h1 {
    color: black;
    text-align: center;
}

.cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  
}
.cart-item {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 5px 5px 12px black;
    margin: 10px;
    width: 400px;
    padding: 15px;
}
.cart-item img {
    height: 100px;
    width: 100px;
    margin: 15px;

}
.cart .description {
font-weight: bolder;
font-size: larger;
}
.amount-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.amount-handler button {
    background-color: black;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    border: none;
    
}
.amount-handler input {
    height: 20px;
    width: 20px;
    font-size: bolder;
    float: center;
}
.checkout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout-btn button {

    background-color: black;
    margin: 10px;
    color: white;
    font-size: 12px;
    width: 120px;
    height: 40px ;
    border: none;
}
.checkout  {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.checkout p {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}